/* General Styles */
@font-face {
    font-family: "Arvo";
    src: url("./resources/arvo/Arvo-Regular.ttf");
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("./resources/wall.jpg");
    background-size: cover;
}

h1, h2, h3, h4 {
    font-family: "Arvo", "Helvetica"
}

/* For the Canvas */
.drawing-canvas {
    width: 70vw;
    height: 70vh;
}

.canvas-wrapper {
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* margin: auto 200px; */
    padding: 30px;
    border: 10px solid #efefef;
    background-color: #eaeaea;
    /* position: relative; */
    transition: 0.3s ease;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .3), 1px 1px 2px rgba(0, 0, 0, .2), 40px 35px 70px -10px rgba(0, 0, 0, .5), -20px -20px 100px -10px rgba(255, 255, 255, .8);
}

.canvas-wrapper::before {
    content: " ";
    margin: 30px;
    position: absolute;
    transition: 0.3s ease;
}

/* For the Info Overlay */

.overlay {
    position: fixed;
    display: none;
    width: 90%;
    height: 100%;
    background-color: #ebfefe;
    cursor: pointer;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-color: rgba(1, 21, 46, .5);
    flex-direction: column;
    align-items: center;
}

.overlay-content {
    padding-left: 5px
}

.overlay ul li {
    font-family: "Arvo", "Helvetica"
}

/* For the Start and Info Buttons */

.start {
    display: grid;
    width: 70vw;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3vh;
}

.buttons {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.info-btn {
    grid-row: 1;
    grid-column: 3;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}

.player {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file {
    display: none;
}

#upload {
    font-family: "Arvo", "Helvetica";
    cursor: pointer;
}

#paint-btn {
    font-family: "Arvo", "Helvetica";
    cursor: pointer;
}

#file-upload {
    font-family: "Arvo", "Helvetica";
    cursor: pointer;
}

/* For Function Buttons */
.buttons {
    display: flex;
    flex-direction: column;
}

/* For the Instrument Selectors */
.style-selector {
    display: flex;
    width: 70vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.style-radios input {
    display: none;
    cursor: pointer;
}

.style-radios input:checked+label {
    background-color: #2F5984
}

.style-label {
    font-family: "Arvo", "Helvetica";
    font-size: 24px;
    padding: 4px 12px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-image: radial-gradient(rgba(221, 221, 221, 1), rgba(221, 221, 221, 0));
    cursor: pointer;
}

.glow-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

/* For Palette Selector */

.palette-selector {
    display: flex;
    width: 70vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color-radios input {
    display: none;
    cursor: pointer;
}

.color-radios input:checked+label {
    background-color: #2F5984
}

.color-label {
    font-family: "Arvo", "Helvetica";
    font-size: 24px;
    padding: 4px 12px;
    margin-left: 1vw;
    margin-right: 1vw;
    background-image: radial-gradient(rgba(221, 221, 221, 1), rgba(221, 221, 221, 0));
    cursor: pointer;
}

.glow-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

/* For Credits */
.credits {
    display: flex;
    width: 70vw;
    justify-content: center;
}